<!--Include header-->
<%- include('include/_header')%>
<!--/Include header-->

 <!--Main Site-->
 <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i><span class="text-gradient"> All Shows</span></a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update show</h2>
            <span class="text-light">Use the below form to update an show </span>
        </div> 
        <!--Add show form-->
        <form method="POST" id="update_show">
            <div class="new_show">
                <div class="form-group">
                   <label for="name" class="text-light">Name</label>
                   <input type="hidden" name="id" value="<%= show._id %>">
                   <input type="text" name="name" value="<%= show.name%>"placeholder="Sherlock" required> 
                </div>
                <div class="form-group">
                    <label for="source" class="text-light">Source</label>
                    <input type="text" name="source" value="<%= show.source%>"placeholder="Netflix" required> 
                </div>
                <div class="form-group">
                    <label for="season" class="text-light">Season</label>
                    <input type="number" name="season" value="<%= show.season%>"placeholder="1" required> 
                </div>
                <div class="form-group">
                    <label for="status" class="text-light">Status</label>
                    <div class="radio inline">
                        <input type="radio" name="status" id="radio-2" value="Ongoing" <%= show.status == 'Ongoing' ? 'checked' : ''%>>
                        <label for="radio-2" class="radio-label">Ongoing</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" id="radio-3" name="status" value="Completed" <%= show.status == 'Completed' ? 'checked' : ''%>>
                        <label for="radio-3" class="radio-label">Completed</label>
                    </div>      
                </div>
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button> 
                </div>
            </div>
        </form>
        <!--Form-->
    </div>
</main>
<!--/Main Site-->

<!--Include header-->
<%- include('include/_footer')%>
<!--/Include header-->
